:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  max-width: 1000px;
}

h1 {
  display: flex;
  justify-content: center;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: lavender;
}

.main {
  min-width: 250px;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  min-height: 100vh;
}

.form,
.form_detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  max-width: 1000px;
  border: 2px solid black;
  padding: 40px;
  border-radius: 8px;
  background-color: #f9f9f9;
  margin: 20px; 
}

.form .form-row,
.form-wages {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}


.form .form-group {
  display: flex;
  flex-direction: column;
  width: 48%;
    margin: 10px;
}

.form label {
  margin-bottom: 5px;
}

.form input {
  padding: 5px;
  box-sizing: border-box;
  width: 100%;
}

.form span {
  margin-left: 5px;
}

.form button {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: rgb(143, 143, 198);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form button:hover {
  background-color: rgb(117, 117, 167);
}

.filter-button {
  margin-top: 20px;
  padding: 8px 16px;
  background-color: rgb(143, 143, 198);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.form .readonly-cell {
  padding: 5px;
  box-sizing: border-box;
  width: 100%;
  background-color: white;
  border: 1px solid black;
  border-radius: 4px;
}

.filter-button:hover {
  background-color: rgb(117, 117, 167);
}

.table {
  margin: 20px auto;
  border-collapse: collapse;
  width: 80%;
}

.table th,
.table td {
  border: 2px solid black;
  padding: 8px;
}

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: rgb(143, 143, 198);
  color: white;
}

.clickable-row {
  cursor: pointer;
}

.clickable-row:hover {
  background-color: #f0f0f0;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }
}

.form_detail {
  display: flex;
  flex-direction: row; 
  justify-content: space-between; 
  align-items: center;
  width: 100%; 
  border: 2px solid black; 
  padding: 20px;
  border-radius: 8px;
  background-color: #f9f9f9;
  margin: 20px;
}

.form_detail p {
  margin: 0 10px; 
}
