:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: lavender
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  text-align: center;
  padding: 20px;
  min-height: 100vh;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  margin-top: 20px;
  width: 100%;
  max-width: 1000px;
  border: 2px solid black;
  padding: 20px;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.form .form-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

.form .form-group {
  display: flex;
  flex-direction: column;
  width: 48%;
}


.form label {
  margin-bottom: 5px;
}

.form input {
  padding: 5px;
  box-sizing: border-box;
  width: 100%;
}

.form span {
  margin-left: 5px;
}

.form button {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: rgb(143, 143, 198);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form button:hover {
  background-color: rgb(117, 117, 167);
}

.filter-button {
  margin-top: 20px;
  padding: 8px 16px;
  background-color: rgb(143, 143, 198);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.filter-button:hover {
  background-color: rgb(117, 117, 167);
}

.table {
  margin: 20px auto;
  border-collapse: collapse;
  width: 80%;
}

.table th,
.table td {
  border: 2px solid black;
  padding: 8px;
}

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: rgb(143, 143, 198);
  color: white;
}

.clickable-row {
  cursor: pointer;
}

.clickable-row:hover {
  background-color: #f0f0f0;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

}
